<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<style>
  .input-field {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-box {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .form-label {
    display: block;
  }

  .form-control {
    width: 200px;
    height: 40px;
  }

  .form-group {
    margin-bottom: 0px;
  }
</style>

<div class="form-box">
  <%= form_with(model: email_service) do |form| %>
    <% if email_service.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(email_service.errors.count, "error") %> prohibited this email_service from being saved:</h2>
        <ul>
          <% email_service.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :event_id, class: "form-label" %>
      <%= form.collection_select :event_id, Event.all, :id, :title, prompt: "Select an Event", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :guest_id, class: "form-label" %>
      <%= form.collection_select :guest_id, Guest.all, :id, ->(g) { "#{g.first_name} #{g.last_name}" }, prompt: "Select a Guest", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :email_template_id, "Select Email Template", class: "form-label" %>
      <%= form.collection_select :email_template_id, EmailTemplate.all, :id, :name, prompt: "Select an Email Template", class: "form-control", id: "email_template_select" %>
    </div>

    <div class="form-group">
      <%= form.label :to, class: "form-label" %>
      <%= form.text_field :to %>
    </div>

    <div class="form-group">
      <%= form.label :subject, class: "form-label" %>
      <%= form.text_field :subject, id: "email_subject" %>
    </div>

    <div class="form-group">
      <%= form.label :body, class: "form-label" %>
      <%= form.text_area :body, id: "email_body", style: "width: 200px; height: 100px;" %>
    </div>

    <div class="form-group">
      <%= form.submit %>
    </div>
  <% end %>

  <script>
    $(document).ready(function () {
      $('#email_template_select').change(function () {
        var selectedTemplateId = $(this).val();
        $.get('/email_services/render_email_template', { id: selectedTemplateId }, function (data) {
          $('#email_subject').val(data.subject);
          $('#email_body').val(data.body);
        }, 'json');
      });
    });
  </script>
</div>
