<style>
  .form-box {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .form-field {
    margin-top: 10px;
  }

  .form-input {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .form-label {
    font-weight: bold;
  }

  .submit-btn {
    background-color: #4caf50;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    display: block;
    width: 100%;
    text-align: center;
  }

  .submit-btn:hover {
    background-color: #45a049;
  }
</style>

<h1>New Template</h1>

<div class="form-box">
  <%= form_with(model: @email_template, url: { controller: "email_services", action: "add_email_template" }, local: true) do |f| %>
    <div class="form-field">
      <%= f.label :name, class: "form-label" %><br />
      <%= f.text_field :name, autofocus: true, class: "form-input" %>
    </div>

    <div class="form-field">
      <%= f.label :subject, class: "form-label" %><br />
      <%= f.text_field :subject, class: "form-input" %>
    </div>

    <div class="form-field">
      <%= f.label :body, class: "form-label" %><br />
      <%= f.text_area :body, class: "form-input", style: "height: 100px;" %>
    </div>

    <div class="details-container">
      <%= f.submit "Create New Template", class: "submit-btn" %>
    </div>
  <% end %>
</div>
