<style>
  .highlight-heading {
    background-color: #333;
    color: #fff;
  }

  .small-body-container {
    width: 600px;
    height: 100px;
    border: 1px solid #ccc;
    overflow: auto;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .section-heading {
    margin-left: 20%;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 56px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .no-emails-message {
    text-align: center;
    color: #777;
    margin: 20px 0;
  }
</style>

<p style="color: green"><%= notice %></p>

<h1>Email Service</h1>

<%= render 'email_template' %>

<!-- Unsent Email Services Section -->
<h2 class="section-heading">Unsent Email Services Summary</h2>
<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr class="highlight-heading">
        <th>To</th>
        <th>Subject</th>
        <th>Body</th>
        <th>Send Email</th>
        <th>Edit Email</th>
        <th>Destroy Email</th>
      </tr>
    </thead>
    <% if @unsent_emails.present? %>
      <tbody>
        <% @unsent_emails.each do |email| %>
          <tr>
            <td><%= email[:to] %></td>
            <td><%= email[:subject] %></td>
            <td>
              <div class="small-body-container">
                <%= email[:body].html_safe %>
              </div>
            </td>
            <td><%= link_to 'Send', send_email_email_service_path(email), class: 'button' %></td>
            <td><%= link_to 'Edit', edit_email_service_path(email), class: 'button' %></td>
            <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %></td>
          </tr>
        <% end %>
      </tbody>
    <% else %>
      <p class="no-emails-message">No unsent emails available.</p>
    <% end %>
  </table>
</div>

<%= link_to 'Add New Email', new_email_service_path(@event), class: 'button', style: 'margin-left: 25%; margin-bottom: 30px;' %>

<!-- Sent Email Services Section -->
<h2 class="section-heading">Sent Email Services Summary</h2>
<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr class="highlight-heading">
        <th>To</th>
        <th>Subject</th>
        <th>Body</th>
        <th>Re-Send Email</th>
        <th>Edit Email</th>
        <th>Destroy Email</th>
      </tr>
    </thead>
    <% if @sent_emails.present? %>
      <tbody>
        <% @sent_emails.each do |email| %>
          <tr>
            <td><%= email[:to] %></td>
            <td><%= email[:subject] %></td>
            <td>
              <div class="small-body-container">
                <%= email[:body].html_safe %>
              </div>
            </td>
            <td><%= link_to 'Re-Send', send_email_email_service_path(email), class: 'button' %></td>
            <td><%= link_to 'Edit', edit_email_service_path(email), class: 'button' %></td>
            <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %></td>
          </tr>
        <% end %>
      </tbody>
    <% else %>
      <p class="no-emails-message">No sent emails available.</p>
    <% end %>
  </table>
</div>
