<tr>
  <td><%= transaction.guest_firstname %></td>
  <td><%= transaction.guest_lastname %></td>
  <td><%= transaction.guest_email %></td>
  <td><%= transaction.affiliation %></td>
  <td><%= transaction.category %></td>
  <td><%= transaction.seats %></td>
  <td><%= transaction.total_amount %></td>
</tr>