<!-- app/views/referrals/send_invitation.html.erb -->
<p>Hi <%= @guest.first_name %> <%= @guest.last_name %>,</p>

<p>You have a chance to earn <%= @reward_offer %> by inviting your friends to purchase tickets for our event.</p>

<%= form_with url: referral_creation_path, method: :post, local: true do |f| %>
  <div>
    <p>Enter your friends' email addresses (separated by commas):</p>
    <%= f.text_area :friend_emails, placeholder: "Enter emails, separated by commas", required: true %>
  </div>

  <div>
    <%= f.submit "Send Referral Invitations", class: "btn btn-primary" %>
  </div>
<% end %>
