<%# Dropdown for selecting an Eventbrite event %>
<%= form_with url: event_path(@event), method: :get, local: true do |f| %>
  <%= f.label :eventbrite_event, "Select an Eventbrite Event" %>
  <%= 
    f.select :eventbrite_event_id, options_for_select(
      @external_events.map { |e| [e['name'], e['id']] }, params[:eventbrite_event_id]), 
      include_blank: "Select Event" 
  %>
  <%= f.submit "Show Ticket Sales" %>
<% end %>

<%# Ticket Sales Table %>
<% if @ticket_sales.present? %>
  <h3>Ticket Sales for <%= @selected_event_name %></h3>
  <table>
    <thead>
      <tr>
        <th>Ticket Type</th>
        <th>Quantity Sold</th>
        <th>Total Sales</th>
      </tr>
    </thead>
    <tbody>
      <% @ticket_sales.each do |ticket| %>
        <tr>
          <td><%= ticket['name'] %></td>
          <td><%= ticket['quantity_sold'] %></td>
          <td><%= number_to_currency(ticket['sales_total']) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>